<?xml version="1.0" encoding="UTF-8"?>
<settings>  
  <sharedFolders>
    <sharedFolder>
      <path>X:\Downloads</path>
      <alias>Downloads</alias>
    </sharedFolder>
  </sharedFolders>
   <whitelist>
      <client>
         <ip>::1</ip>
      </client>
   </whitelist>
  <blacklist>
    <client>
      <ip>192.168.0.2</ip>
    </client>
  </blacklist>
</settings>
